<%= form_for(@code_task) do |f| %>
  <% if @code_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_task.errors.count, "error") %> prohibited this code_task from being saved:</h2>

      <ul>
      <% @code_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class='container be-round_ligth_gray'>
  <div class='row'>
    <div class='col-xs col-md-2'>
      <%= f.label :Code_branch %><br>
      <%= f.select :codebranch, [['PWBLOG'],['DISPOSE'],['ACTIVEINVENTORY'], ['BIBLIOS'] ],{:include_blank => false},  {class:'btn btn-default dropdown-toggle smfont'} %>
    </div>
    <div class="col-xs col-md-4">
      <%= f.label :title %><br>
      <%= f.text_field :title, class:'form-control' %>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs col-md-6">
      <%= f.label :description %><br>
      <%= f.text_area :description, class:'form-control', rows:5 %>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs col-md-1">
      <%= f.label :done %><br>
      <%= f.check_box :done, class:'check_box' %>
    </div>
    <div class="col-xs col-md-2">
      <%= f.label :user_id %><br>
      <%= f.collection_select :user_id, User.all, :id, :name,
        {:include_blank => true }, {class:'btn btn-default dropdown-toggle'} %>
    </div>
  </div>
    <div class='row'>
      <div class="col-xs col-md-1">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>
<% end %>
