<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <h1>Listing Code Tasks</h1>
      <span class='pull-rigth'>
       <%= link_to 'New Code task', new_code_task_path, class:'btn btn-default btn-md' %>
      </span>
       <br>
       <br>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs col-md-6'>
      <%= bootstrap_form_tag  :html => {id:'branchOrder'}  do |f| %>
        <%= f.form_group :cryteria, label:{text:'Buscar por:'} do %>
          <br>
          <%= f.radio_button :cryteria_level, 0, label: 'ALL', inline: true %>
          <%= f.radio_button :cryteria_level, 1, label: 'ACTIVEIT', inline: true %>
          <%= f.radio_button :cryteria_level, 2, label: 'BIBLIOS', inline: true %>
          <%= f.radio_button :cryteria_level, 3, label: 'DISPOSE', inline: true %>
          <%= f.radio_button :cryteria_level, 4, label: 'PWBLOG', inline: true %>
          <%= f.radio_button :cryteria_level, 5, label: 'SS', inline: true %>
          <%= f.radio_button :cryteria_level, 6, label: 'TTOCAP', inline: true %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12 col-md-12' id='showData'>
    </div>
  </div>
</div>
