<p id="notice"><%= notice %></p>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <h1>Listing Code Tasks</h1>
      <span class='pull-rigth'>
       <%= link_to 'New Code task', new_code_task_path, class:'btn btn-default btn-md' %>
      </span>
       <br>
       <br>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-md-12'>
      <div class="table-responsive">
        <table class="table table-hover table-striped" id='codeTbl'>
          <thead>
            <tr>
              <th>CBranch</th>
              <th>Title</th>
              <th>Description</th>
              <th>Done</th>
              <th>User</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @code_tasks.each do |code_task| %>
              <tr>
                <td><%= code_task.codebranch %></td>
                <td><%= code_task.title %></td>
                <td><%= code_task.description %></td>
                <%if code_task.done %>
                  <td><%= octicon 'issue-closed', class:'rigth' %></td>
                <% else %>
                  <td><%= octicon 'x', class:'left' %></td>
                <% end %>
                <td><%= code_task.user.name %></td>
                <td><%= link_to '', code_task, class:'btn btn-md glyphicon glyphicon-search' %></td>
                <td><%= link_to '', edit_code_task_path(code_task), class:'btn btn-md glyphicon glyphicon-cog' %></td>
                <td><%= link_to '', code_task, method: :delete, data: { confirm: 'Are you sure?' },
                    class:'btn btn-md glyphicon glyphicon-erase' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
