<%= form_for(@sub_target) do |f| %>
  <% if @sub_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_target.errors.count, "error") %> prohibited this sub_target from being saved:</h2>

      <ul>
      <% @sub_target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
