<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @err_brand.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @err_brand.description %>
</p>

<%= link_to 'Edit', edit_err_brand_path(@err_brand) %> |
<%= link_to 'Back', err_brands_path %>
