<p id="notice"><%= notice %></p>

<h1>Personal Reminders</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Solution</th>
              <th>Genus</th>
              <th>Subgenus</th>
              <th style="text-align:right" colspan="3"><%= link_to 'ADD  ', new_p_reminder_path, class:'btn btn-default  btn-sm'  %></th>
            </tr>
          </thead>
          <tbody>
            <% @p_reminders.each do |p_reminder| %>
              <tr>
                <td><%= p_reminder.title %></td>
                <td><%= p_reminder.description %></td>
                <td><%= p_reminder.solution %></td>
                <td><%= p_reminder.genus %></td>
                <td><%= p_reminder.subgenus %></td>
                <td><%= link_to 'Show', p_reminder, class:'btn btn-default  btn-sm' %></td>
                <td><%= link_to 'Edit', edit_p_reminder_path(p_reminder), class:'btn btn-default  btn-sm' %></td>
                <td><%= link_to 'Destroy', p_reminder, method: :delete, data: { confirm: 'Are you sure?' }, 
                class:'btn btn-default  btn-sm' %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

